 #navbar{
    width: 100%;
    height: 12%; 
     display: flex;
     justify-content: space-around; 
     position: sticky;
    z-index: 10;
    background-color: black; 
}  
#btn{
    width: 6%;
    height: 30%;
    margin-top: 1%;
    margin-right: 5%;
    background-color: skyblue;
}
#search{
    width: 20%;
    margin-top: 3%;
}
#navbar>div{
    width: auto;
    height: 80%;
}
.img1{
    width: 100%;
    height: 100%;
}
.c1 {
    width: 100%;
    
    position: relative;

}
#c2 , #c3 , #c4 , #c5 , #c6 , #c7 {
    width: 100%;
    position: relative;

}
#c1>img{
    width: 30%;

}
img{ 
    width: 30%;

}
button{
    position: absolute;
    top: 40%;
}
button:nth-child(2){
    left:10px;
    background-color: rgba(100,100,0,10);
}
button:nth-child(3){
    right:10px;
    background-color: rgba(100,100,0,10);
}
#footer_main {
    width: 100%;
    margin: auto;
    margin-top: 80px;
    background-color: silver;
  }


  
  /* footer1 */
  @media screen and (max-width: 600px) {
    /* footer1 */
    .footer_firs {
      width: 100%;
    }
    .footer_firs > img {
      width: 250px;
      margin-left: 100px;
    }
    .footer_fir1 {
      width: 100%;
      margin-left: 100px;
    }
  
    .footer_fir1 > span > img {
      width: 40px;
      margin-right: 6px;
    }
    /* footer2 */
    .footer_sec {
      width: 110%;
      margin-top: 50px;
      border-bottom: 2px solid grey;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
    .sec1 > img {
      width: 130px;
      margin-left: 130px;
    }
    .sec2 > p:nth-child(1) {
      width: 100%;
      margin-right: 100px;
      margin-top: 0px;
      line-height: 22px;
      font-size: 17px;
      color: grey;
    }
    .sec2 > p:nth-child(2) {
      color: rgb(9, 82, 138);
      font-weight: bold;
    }
    /* .sec3 {
      margin-right: 150px;
    } */
    .sec3 > h3 {
      margin-top: 20px;
      font-size: 21px;
    }
    .sec3 > p {
      font-size: 19px;
      color: grey;
    }
    .sec4 > h3 {
      margin-top: 0px;
    }
    .sec4 > p {
      font-size: 19px;
      color: grey;
    }
    .sec5 {
      margin-left: auto;
    }
    .sec5 > h3 {
      margin-top: 0px;
    }
    .sec5 > p {
      font-size: 19px;
      color: grey;
    }
    /* footer third */
  
    .thir1 {
      margin-left: 10px;
      text-align: center;
      color: grey;
    }
    .thir2 {
      font-size: 17px;
      color: grey;
    }
  }
  @media screen and (min-width: 600px) {
    .footer_firs {
      width: 100%;
      display: flex;
    }
    .footer_firs > img {
      width: 170px;
    }
    .footer_fir1 {
      margin-left: auto;
    }
    .footer_fir1 > span > img {
      width: 40px;
      margin-right: 6px;
    }
    /* footer2 */
    .footer_sec {
      width: 100%;
      display: flex;
      margin-top: 50px;
      border-bottom: 2px solid grey;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
    .sec1 > img {
      width: 100px;
      margin-right: 40px;
    }
    .sec2 > p {
      width: 170px;
      margin-right: 100px;
      margin-top: 0px;
      line-height: 22px;
    }
    .sec21 {
      color: rgb(0, 146, 255);
    }
    .sec3 {
      margin-right: 150px;
    }
    .sec3 > h3 {
      margin-top: 0px;
    }
    .sec3 > p {
      margin-top: -5px;
    }
    .sec4 > h3 {
      margin-top: 0px;
    }
    .sec4 > p {
      margin-top: -5px;
    }
    .sec5 {
      margin-left: auto;
    }
    .sec5 > h3 {
      margin-top: 0px;
    }
    .sec5 > p {
      margin-top: -5px;
    }
    /* footer third */
    .footer_thir {
      display: flex;
    }
    .thir1 {
      margin-left: 10px;
    }
    .thir2 {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .footer_firs {
      width: 100%;
      display: flex;
    }
    .footer_firs > img {
      width: 170px;
    }
    .footer_fir1 {
      margin-left: auto;
    }
    .footer_fir1 > span > img {
      width: 40px;
      margin-right: 6px;
    }
    /* footer2 */
    .footer_sec {
      width: 100%;
      display: flex;
      margin-top: 50px;
      border-bottom: 2px solid grey;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
    .sec1 > img {
      width: 100px;
      margin-right: 40px;
    }
    .sec2 > p {
      width: 170px;
      margin-right: 100px;
      margin-top: 0px;
      line-height: 22px;
    }
    .sec21 {
      color: rgb(0, 146, 255);
    }
    .sec3 {
      margin-right: 150px;
    }
    .sec3 > h3 {
      margin-top: 0px;
    }
    .sec3 > p {
      margin-top: -5px;
    }
    .sec4 > h3 {
      margin-top: 0px;
    }
    .sec4 > p {
      margin-top: -5px;
    }
    .sec5 {
      margin-left: auto;
    }
    .sec5 > h3 {
      margin-top: 0px;
    }
    .sec5 > p {
      margin-top: -5px;
    }
    /* footer third */
    .footer_thir {
      display: flex;
    }
    .thir1 {
      margin-left: 10px;
    }
    .thir2 {
      margin-left: auto;
    }
  }
  body{
    font-family: 'Work Sans', sans-serif;
}
.faq-heading{
    border-bottom: #777;
    padding: 20px 60px;
}
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;

}
.hr-line{
  width: 60%;
  margin: auto;
  
}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    /* background-color: #eee; */
    color: #444;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;

}
.faq-body{
    margin: auto;
    /* text-align: center; */
   width: 50%; 
   padding: auto;
   
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
    background-color: #F9F9F9;
}

/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}
